.button {
    -fx-background-color: #3AAAAA;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Consolas;
}

.button:hover{
    -fx-background-color: #10A8A8;
}

.label {
    -fx-text-fill: #3AAAAA;
    -fx-font-family: Consolas;
}
