.button {
    -fx-background-color: #3986AC;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Consolas;
}

.button:hover{
    -fx-background-color: #117AAA;
}

.label {
    -fx-text-fill: #3986AC;
    -fx-font-family: Consolas;
}