
.lower-res .combo-box {
    -fx-background: #3D3946;
    -fx-background-color: #3D3946;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
}

.combo-box {
    -fx-background: #3D3946;
    -fx-background-color: #3D3946;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20px;
    -fx-border-radius: 2;
    -fx-border-width: 2;
}

.combo-box > .cell
{
    -fx-font-family: Consolas;
    -fx-text-fill: #FFFFFF;
    -fx-cell-size: 1.66667em;
    -fx-background-color: #3D3946;
}

.combo-box-popup .cell
{
    -fx-background-color: #302E38;
    -fx-text-fill: #FFFFFF;
}

.combo-box-popup .cell:hover{
    -fx-background-color: #C2B8E0;
}

.combo-box-popup .list-cell:filled:selected
{
    -fx-background: -fx-accent;
    -fx-background-color: #C2B8E0;
    -fx-text-fill: #FFFFFF;
}

.top-bar-color {
    -fx-background-color: #2E293D;
}

.bot-bar-color {
    -fx-background-color: #24222A;
}

.client-buttons-template {
    -fx-background-color: #5639AC;
    -fx-border-radius: 2;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Consolas;
    -fx-font-weight: bold;
}

.client-search-bar {
    -fx-background-color: #24222A;
    -fx-text-fill: #FFFFFF;
    -fx-font-family: Consolas;
    -fx-font-size: 18;
}

.client-text-field-template {
    -fx-background-color: #3D3946;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-border-color: #3d3d3d;
}

.client-text-field-template-wrong {
    -fx-background-color: #3D3946;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-border-color: #ED1221;
}